<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %}Project</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/cicd">CICD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/docker">Docker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/flask">Flask and Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/git">GIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active active-hl" aria-current="page" href="/aaa">AAA Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/oop">OOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/pylint">Pylint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/solid">SOLID</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="title">
    <h1>AAA Testing</h1>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ipsum consequat nisl vel pretium lectus. Lacus sed turpis tincidunt id aliquet risus feugiat in.
        Fermentum leo vel orci porta non pulvinar neque laoreet. Et netus et malesuada fames ac turpis egestas. Arcu
        risus quis varius quam. A cras semper auctor neque vitae tempus. Aliquam ultrices sagittis orci a scelerisque
        purus. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Malesuada fames ac turpis
        egestas integer eget aliquet. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Nunc sed velit
        dignissim sodales ut eu sem integer vitae. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Mi in
        nulla posuere sollicitudin.

        Ullamcorper a lacus vestibulum sed arcu non. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Eu
        tincidunt tortor aliquam nulla facilisi cras fermentum odio. Malesuada bibendum arcu vitae elementum curabitur
        vitae nunc. Turpis massa tincidunt dui ut ornare lectus sit amet. Pharetra vel turpis nunc eget lorem dolor sed
        viverra. Nisl purus in mollis nunc sed id. Sociis natoque penatibus et magnis. Sit amet nisl purus in mollis.
        Mollis nunc sed id semper risus in. Odio pellentesque diam volutpat commodo sed egestas egestas.

        Urna porttitor rhoncus dolor purus non enim. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium.
        Tristique nulla aliquet enim tortor at auctor urna. Vitae turpis massa sed elementum tempus. Rutrum tellus
        pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Nisl suscipit adipiscing bibendum est ultricies
        integer. At elementum eu facilisis sed odio morbi quis. Vitae justo eget magna fermentum. Fames ac turpis
        egestas integer eget aliquet nibh praesent tristique. Id neque aliquam vestibulum morbi blandit cursus risus at
        ultrices. Nisi porta lorem mollis aliquam ut.

        Elementum curabitur vitae nunc sed velit. Suspendisse sed nisi lacus sed viverra tellus. Venenatis a condimentum
        vitae sapien pellentesque habitant morbi tristique senectus. Suspendisse faucibus interdum posuere lorem ipsum.
        Eget aliquet nibh praesent tristique. Gravida rutrum quisque non tellus orci. Purus in mollis nunc sed. Orci eu
        lobortis elementum nibh tellus molestie. Vitae nunc sed velit dignissim. Metus vulputate eu scelerisque felis
        imperdiet proin fermentum leo. Arcu risus quis varius quam quisque id diam. Ullamcorper eget nulla facilisi
        etiam dignissim diam quis. Et tortor at risus viverra. Urna duis convallis convallis tellus id interdum velit
        laoreet id. Nec ultrices dui sapien eget. Ipsum dolor sit amet consectetur adipiscing. At varius vel pharetra
        vel. Mi in nulla posuere sollicitudin aliquam. Augue eget arcu dictum varius duis at consectetur lorem donec.

        Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Erat imperdiet sed euismod nisi porta lorem
        mollis. Eu tincidunt tortor aliquam nulla facilisi cras. Quis lectus nulla at volutpat diam ut. Dictum sit amet
        justo donec enim diam vulputate ut. Maecenas pharetra convallis posuere morbi leo urna molestie. Bibendum arcu
        vitae elementum curabitur vitae nunc sed. Neque ornare aenean euismod elementum. Et netus et malesuada fames ac
        turpis egestas sed tempus. Suspendisse interdum consectetur libero id faucibus nisl. Ultricies mi eget mauris
        pharetra.
    </p>
</div>
</body>
</html>