<!doctype html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}
</head>
<body>
{% block body %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/cicd">CICD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/docker">Docker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/flask">Flask and Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/git">GIT</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <img src="{{ url_for('static', filename='images/herokulogo.png') }}" class="content-img">
        </div>
        <div class="col-lg">
            <h1 class="row">Heroku: Our CICD Platform</h1>
            <p>Heroku is a container-based cloud Platform as a Service (PaaS). Developers use Heroku to deploy, manage,
                and scale modern apps. CICD stands for Continuous Integration Continuous Delivery and can be broken up
                into two parts.
                <ul>
                    <li>
                        Continuous Integration: A software development practice where members of a team integrate their
                        work frequently, and each integration is verified by an automated build (including test) to
                        detect integration errors as quickly as possible.
                    </li>
                    <li>
                        Continuous Delivery: A software development discipline where you build software in such a way
                        that the software can be released to production at any time.
                    </li>

                </ul>
            </p>
            <h3 class="row">GitHub Actions</h3>
            <p>These are deployment instructions that GitHub will take whenever code is pushed or merged. This project
                has rules setup so that whenever code is merged into the Master branch, it will deploy the application
                onto the Heroku dev and prod servers.</p>
            <h3 class="row">Development and Testing</h3>
            <p>During development, automated tests are set up so that GitHub can let the user know if there are any
                issues that arise with any changes that have been pushed. The test version of the application gets
                deployed on the heroku dev server to view your changes on a web page before prod deployment.</p>
            <h3 class="row">Deployment</h3>
            <p>Once the code passes all tests and is merged, the application gets deployed onto the heroku prod
                server. The instructions in the prod.yml file in the .github/workflows directory pushes the built
                prod image onto docker hub.</p>
        </div>
        <div class="col-5">
            <h5>Sources</h5>
            <ul>
                <li class="source">
                    <a href="https://docs.github.com/en/actions">GitHub Actions</a>
                </li>
                <li class="source">
                    <a href="https://www.martinfowler.com/articles/continuousIntegration.html">Continuous Integration</a>
                </li>
                <li class="source">
                    <a href="https://www.martinfowler.com/bliki/ContinuousDelivery.html">Continuous Delivery </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>