<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %}Project</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/cicd">CICD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/docker">Docker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/flask">Flask and Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/git">GIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/aaa">AAA Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/oop">OOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active active-hl" aria-current="page" href="/pylint">Pylint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/solid">SOLID</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="Title">
    <h1>Pylint</h1>
</div>

<div class="container">
    <div class="col px-8">
        <h3>What is Pylint?</h3>
        <p>Pylint is a source-code, bug, and quality checker for the Python programming language. It is named following
            a common convention in Python of a "py" prefix, and a nod to the C programming lint program. It includes the
            following features:</p>
        <ul>
            <li>Checking the length of each line</li>
            <li>Checking the variable names are well-formed according to the project's coding standard</li>
            <li>Checking that declared interfaces are truly implemented</li>
        </ul>
    </div>

</div>
</body>
</html>